<h1> Guessing Numbers! </h1>

<p id="notice"><strong><%= flash[:notice] %></strong></p>

..........

<p> <strong>Play again?</strong> 


<%= form_for @game do %>
	<%= label_tag(:q, 'Guess between 1 and 10:') %>
	<%= text_field_tag :guess %>
  <%= submit_tag("Enter guess") %>
<% end %>
</p>

<p><strong>OR</strong></p>

<a href ="/games/new"><strong>Play new game?</strong></a></li>